
body {
  font-family: roboto;
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1F2937;

}
ul li {
  display: flex;
  align-items: start;
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#hero {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    
    color: #F9FAF8;
    background-color: #1F2937;
    overflow: hidden;
    
}
#hero-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
#hero-text {
    font-size: 18px;
    color: #E5E7EB;
}
#hero > #hero-button {
    
     border: none;
     text-decoration: none;
    background-color: #3882f6;
    font-size: 15px;
    width: 50px;

    
}
#hero > img {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 200px;
}
