nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
     margin: auto;
     gap: 15px;
     background-color: #1F2937;
     width: 100%;
     
}
#nav-logo {
    
    display: flex;
    justify-content: start;
    align-items: start;
    color: #F9FAF8;
     text-decoration: none;

}
nav > a {
    color: #F9FAF8;
     text-decoration: none;
}



figure {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin: auto;
}